.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height:100%;
  background: black;
  padding: 10px;
  border-right: 2px solid rgba(255, 255, 255, 0.4); 
}

.sidebar .navbar-brand {
  font-size: 20px;
  margin-bottom: 0px;
}

.sidebar-divider {
  border-bottom: 1px solid #6c757d;
  width: 100%;
}
.figures {
 
  margin:20px 2px 10px 0px;

}
.div-figures {
  margin: auto;
}
#leaf {
  height: 40px;
}
html, body {
  overflow-x: hidden;
}

.menu-btn {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-icon {
  font-size: 20px;
  color: white;
  display: inline-block;
  transition: transform 0.4s ease;
}

/* DEFAULT ICON */
.menu-icon::before {
  content: "☆";
}

/* HOVER (geçici efekt) */
.menu-btn:hover .menu-icon {
  transform: scale(1.15);
}

/* DARK MODE STATE */
.menu-btn.dark .menu-icon {
  transform: rotate(180deg);
}

.menu-btn.dark .menu-icon::before {
  content: "☾";
}



-------------------------
.menu-btn2 {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* geçiş */
  transition: background-color 0.9s ease;
}

/* ikon */
.menu-icon2 {
  font-size: 20px;
  color: white;
  display: inline-block;

  /* dönüş animasyonu */
  transition: transform 0.3s ease, content 0.3s ease;
}

/* HOVER OLUNCA */
.menu-btn2:hover {
  background-color: #1b1b1b
; /* MediaWiki mavi hissi */
}


/* ikon değişimi (☰ → ✕) */
.menu-btn2:hover .menu-icon2::before {
  content: "➤";
}
.menu-icon2::before {
  content: "✧";
}

/* hover */
.menu-btn2:hover .menu-icon::before {
  content: "➤";
}
.new , .new:hover{
  color: red;
}
.new:hover {
  opacity: 1;
}
.banner:hover {

}